src/main/resources/xml_file_system/medical_record.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT medical_record (patient+)>
<!ELEMENT patient (record+)>
<!ELEMENT record (description, diagnosis, treatment, prescription)>
<!ATTLIST patient p_id CDATA #REQUIRED>
<!ATTLIST patient name CDATA #REQUIRED>
<!ATTLIST record r_id CDATA #REQUIRED>
<!ATTLIST record d_id CDATA #REQUIRED>
<!ELEMENT description (#PCDATA)>
<!ELEMENT diagnosis (#PCDATA)>
<!ELEMENT treatment (#PCDATA)>
<!ELEMENT prescription (#PCDATA)>